{% extends 'base.html' %}

{% block content %}
<h1>All Events</h1>

<form action="/events" method="post">
    <label for="name_of_event">Name of event</label>
    <input type="text" name="name_of_event" id="name_of_event">
    <label for="date">Date</label>

    <input type="date" name="date" id="date">
    <label for="number_of_guests">Number of guests</label>
    <input type="text" name="number_of_guests" id="number_of_guests">
    <label for="room_location">Room location</label>
    <input type="text" name="room_location" id="room_location">

    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="2"></textarea>

    <label for="recurring">Recurring</label>
    <input type="checkbox" id="recurring" name="recurring">

    <input type="submit" value="Add event">
</form>

<div>
    {% for event in events %}
    <div>
        <a href="/events/delete/ {{ events.index(event) }}">Delete</a>
        <p>{{ event.name_of_event }} -- {{ event.date }} -- {{ event.number_of_guests }} -- {{ event.room_location }} -- {{ event.description }} -- recurring?
    
            {% if event.recurring %}
                <span>✅</span>      
            {% else %}
                <span>❌</span>
            {% endif %}
        </p>

    </div>
        
    {% endfor %}
</div>

    
{% endblock content %}