{% extends 'base.html' %}

{% block content %}
<h1>All Events</h1>

<form action="/events" method="post">

    <label for="name_of_event">Name of event</label>
    <input type="text" name="name_of_event" id="name_of_event">

    <label for="date">Date</label>
    <input type="date" name="date" id="date">

    <label for="number_of_guests">Number of guests</label>
    <input type="text" name="number_of_guests" id="number_of_guests">
    
    <label for="room_location">Room location</label>
    <input type="text" name="room_location" id="room_location">

    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="2"></textarea>

    <label for="recurring">Recurring</label>
    <input type="checkbox" id="recurring" name="recurring">

    <input type="submit" value="Add event">
</form>

<div class="all-events">
    {% for event in events %}
    <div class="event">
        <h2>{{ event.name_of_event }}</h2>
        <h4>When: {{ event.date.strftime("%b %d %Y") }}</h4>
        <h3>{{ event.description }}</h3>
        <h3>Guests: {{ event.number_of_guests }}</h3>
        <h5>Room: {{ event.room_location }}</h5>
    
            {% if event.recurring %}
                <span>Recurring ✅</span>      
            {% else %}
                <span>Not recurring ❌</span>
            {% endif %}

        <form action="/events/delete/{{ event.name_of_event }}" method="POST">
            <input type="submit" value="Delete">
        </form>

    </div>
        
    {% endfor %}
</div>

    
{% endblock content %}